<div>
  <table class="table-white">
    <thead class="table-header">
      <tr>
        <th colspan="2">INFORMACIÓN DEL PROYECTO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="p-20 text-left">Número de procesadores</td>
        <td class="p-20 text-center">{{info.procesadores}}</td>
      </tr>
      <tr>
        <td class="p-20 text-left">Argumentos de entrada</td>
        <td class="p-20 text-center">{{info.entrada}}</td>
      </tr>
      <tr>
        <td class="p-20 text-left">Nombre de la plataforma</td>
        <td class="p-20 text-center">{{info.plataforma}}</td>
      </tr>
      <tr>
        <td class="p-20 text-left">Versión de node.js</td>
        <td class="p-20 text-center">{{info.version}}</td>
      </tr>
      <tr>
        <td class="p-20 text-left">Memoria total reservada(rss)</td>
        <td class="p-20 text-center">{{info.memoria}}</td>
      </tr>
      <tr>
        <td class="p-20 text-left">Path de ejecución</td>
        <td class="p-20 text-center">{{info.path}}</td>
      </tr>
      <tr>
        <td class="p-20 text-left">Proccess id</td>
        <td class="p-20 text-center">{{info.id}}</td>
      </tr>
      <tr>
        <td class="p-20 text-left">Carpeta del proyecto</td>
        <td class="p-20 text-center">{{info.proyecto}}</td>
      </tr>
    </tbody>
  </table>
</div>